/soar/DemoJSOAR/build/
/soar/DemoJSOAR/dist/
/lida/exampleProjects/exampleProjects/basicAgentExercises/nbproject/private/
/lida/exampleProjects/exampleProjects/basicAgentExercises/build/
/lida/DemoLIDA/build/
/lida/DemoLIDA/dist/
/cst/WS3DLeaflet/nbproject/private/
/cst/WS3DLeaflet/build/
/cst/WS3DLeaflet/dist/