/soar/DemoJSOAR/build/
/soar/DemoJSOAR/dist/
/lida/exampleProjects/exampleProjects/basicAgentExercises/nbproject/private/
/lida/exampleProjects/exampleProjects/basicAgentExercises/build/
/lida/DemoLIDA/build/
/lida/DemoLIDA/dist/